<meta name="google-site-verification" content="dJEFa2FA1dUkmOOux3LnVg_OjuH8Lyd4MaOR79DNeko" />
<meta name="google-site-verification" content="B7iSt43rekVyNnUbgR1GzYqABWx_bsgx8P6A40IKTD4" />

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-J5K4CVT7L9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-J5K4CVT7L9');
</script>

<!-- Structured Data (JSON-LD) -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "LocalBusiness",
    "name": "臺南市私立崇愛居家長照機構",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "台南市",
      "streetAddress": "南區新興路263-1號一樓"
    },
    "telephone": "+886911096151",
    "url": "https://truelovetn.github.io",
    "image": "https://truelovetn.github.io/img/carousel/welcome.png",
    "openingHours": "Mo-Fr 09:00-18:00",
    "priceRange": "$$",
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": "22.9763291",
      "longitude": "120.1927619"
    }
  }
  </script>